body
{
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

.centerstage
{
    margin-top: 10px;
}

#body_edit
{
    min-height: 1000px;
}

#branding
{
    color: #dd8e37;
    font-family: Franklin Gothic Demi, sans-serif;
}

#branding:hover
	      {
		  color: orange;
	      }

.navbar-default .navbar-nav li a
{
    font-family: sans-serif;
    color: #DD8E37;
}
.container-fluid .navbar-brand:hover{
    color: orange;
}
.navbar-default .navbar-nav li a:hover{
    color: orange;
}

.navbar navbar-default navbar-fixed-top
{
     background-color: #ffffff;
}

.jumbotron
{
   /* color: #ffffff;*/
}

.post-form input, .post-form textarea
{
    width: 100%;
}

.contact-text
{
    margin: 0 auto;
}

.rexiste-logo
{
	background-image: url(img/arte_front.png);
	background-size: cover;
	height: 500px;
	color: #DD8E37;
}

.orangetron
{
    background: #DD8E37;
}

.thumbnail
{
    border: none;
    box-shadow: none;
}

.thumbnail img
{
    height: 200px;
    width: 200px;

}

.content
{
    min-height: 1000px;
    padding: 1em;
}

.navbar-default .navbar-nav li .blue
{
    color: #487bce;
    font-family: sans-serif;
    font-size: 12px;
}
.navbar-default .navbar-nav li .blue:hover{
    color: #5998ff;
}

.login
{
    background: white;
    border: solid 1px #DD8E37;
}

.glyph-remove-edit
{
    color: #ff5e5e;
}

.glyph-remove-edit:hover
		{
		    color: #ba4343;
		}

.cover-div
{
    width: 100%;
    border: solid 1px #eee;
    margin: 0;
}

.cover
{
    /*object-fit: cover;*/
    height: 400px;
    max-width: 100%;
}

.social-icon

{
    height: 10%;
    margin: 0 auto;
    padding: 0;
    width: 10%;
}

.publish_edit
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.post

{
    margin-top: 40px;
    background: white;
    margin-bottom: 0;
}

.date
{
    color: #aaa;
}

.post_link:hover
	       {
		   color: #dd8e37;
		   transition: 0.3s;
		   text-decoration: none;
	       }

.post_stage
{
    padding: 20px;
}

.ahide
{
    display: none;
}

#searchbar
{
    overflow-y: auto;
    overflow-x: hidden;
}

.searchbar-minimized
{
    padding: 0px;
    margin: 0px 25px 25px;
}

.searchbar-expanded
{
    margin-top: 60px;
    padding: 20px;
}

.social-icon img
{
    max-width: 120px;
    max-height: 120px;
    margin: 30px;
    background: #dd8e37;
}

.social-icon img:hover
{
    background: orange;
    transition: 0.3s;
}

.roundnails
{
    margin-top: 20px;
    margin-bottom: 20px;
}


.resource-icon
{
    padding-right: 5px;
    color: #ccc;
}

.resource-text
{
    padding-left: 10px;
    margin-left: 10px;
}

.btn-res
{
    background: white;
    border: solid 1px #dd8e37;
    color: #666;
    min-width: 110px;
}

.btn-res:hover
{
    transition: 0.5s;
    background: #dd8e37;
    color: #eee;
    border: solid 1px #dd8e37;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.lang
{
    float: right;
    padding-right: 10px;
}

.colsource
{
    width: 60%;
}

.collang
{
    width: 30%;
}

.coledit
{
    width: 10%;

}
