{% extends "base.html" %}
{% block title %} Coletivo (R)existe | Sobre Nós {% endblock %}
{% block content %}
<div class="container">
  <h1>Sobre o Coletivo Rexiste</h1>
  <div class="row text-center center-block">
    <p>(R)existe faz um trocadilho com duas palavras: Existir e resistir. Essas duas palavras juntas, representam a alma e a motivação da zona oeste carioca: Somos esquecidos por poderes maiores, mas nunca deixaremos de resistir ao sistema cruel. E, como jovens desta zona oeste, colocamos a frente este nome que representa nossa força motora de transformação, integridade e luta.</p>
  </div>
{% endblock %}
